<div class="grid grid-rows-[auto,1fr] xl:grid-cols-[auto,1fr] overflow-x-hidden xl:overflow-y-hidden w-screen h-screen">
  <div class="py-6 px-16 justify-self-center">
    <div class="flex flex-col items-center bg-primary-100 p-6 rounded-2xl shadow-lg max-w-[400px] border-4 border-primary-200">
      <div class="size-[300px] rounded-full bg-primary-200 relative text-primary-400 group">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-32">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
          </svg>
          <span class="font-medium text-lg">Subir Imagen</span>
        </div>

        <div [class.group-hover:opacity-100]="showPreview"
             [class.group-hover:scale-100]="showPreview"
             class="absolute inset-0 flex-col items-center justify-center rounded-full bg-primary-400 text-white z-10 flex opacity-0 scale-90 transition-all">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-32">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
          </svg>
          <span>Cambiar Imagen</span>
        </div>

        <img [class.hidden]="!showPreview" class="absolute inset-0 rounded-full bg-white size-full z-0" [src]="previewUrl" alt="Vista previa de la imagen">

        <input (change)="onFileSelected($event)" type="file" class="absolute inset-0 opacity-0 cursor-pointer z-50" />
      </div>

      <label hlmLabel class="mt-6 mb-2">Imagen del Animal</label>
      <p class="text-gray-400 text-balance text-center">Asegúrate de que la imagen sea clara y que se vea bien el animal.</p>
    </div>
  </div>

  <div class="py-6 px-16 xl:ps-0">
    <div class="flex flex-col mx-auto max-w-[1200px] bg-primary-100 p-6 rounded-2xl shadow-lg border-4 border-primary-200">
      <div class="flex max-sm:items-center sm:justify-between flex-col sm:flex-row">
        <h1 hlmH1 class="mb-4 sm:mb-6 max-sm:text-center">Crear Adopción</h1>
        <a href="/dashboard" class="w-fit max-sm:mb-6" hlmBtn>Volver al Inicio</a>
      </div>
      <h2 class="mb-6" hlmH2>Información del Animal</h2>

      <form class="mb-6" [formGroup]="form" (ngSubmit)="onSubmit()" action="">
        <div class="flex flex-col md:flex-row items-center gap-6 mb-4">
          <label hlmLabel class="flex flex-col gap-2 w-full">
            Nombre
            <input class="w-full" hlmInput placeholder='Nombre del animal' formControlName="name" type='text' />
          </label>
          <label hlmLabel class="flex flex-col gap-2 w-full">
            Tipo de Animal
            <brn-select formControlName="type" class="block w-full" placeholder="Selecciona una">
              <hlm-select-trigger class="w-full">
                <hlm-select-value />
              </hlm-select-trigger>
              <hlm-select-content>
                <hlm-option *ngFor="let animal of animalTypes" [value]="animal.id">{{animal.name}}</hlm-option>
              </hlm-select-content>
            </brn-select>
          </label>
        </div>

        <div class="mb-6">
          <label hlmLabel>
            Descripción
            <textarea class="min-h-[80px] w-full" hlmInput placeholder="Escribe una descripción del animal..." formControlName="description"></textarea>
          </label>
        </div>

        <label hlmLabel class="mb-2">
          Dirección
          <input formControlName="address" hlmInput class="w-full border-gray-400 bg-primary-200 bg-opacity-50" placeholder="Haz click en el mapa..." type="text" readonly>
        </label>

        <hlm-sheet #sheet>
          <div class="mt-6">
            <button id="bottom" type="button" (click)="verifyForm()" hlmBtn>Aceptar Términos y Condiciones</button>
          </div>
          <hlm-sheet-content class="max-h-screen" *brnSheetContent="let ctx">
            <hlm-sheet-header>
              <h3 hlmSheetTitle>Términos y Condiciones para la Publicación de Adopciones</h3>
              <p hlmSheetDescription>Al utilizar esta plataforma para publicar información sobre la adopción de una mascota, usted acepta las siguientes condiciones:</p>
            </hlm-sheet-header>
            <div class="h-full">
              <div class="max-h-[300px] overflow-y-scroll">
                <ul hlmUl class="text-balance">
                  <li>
                    Usted declara ser el propietario legal de la mascota que está poniendo en adopción o tener autorización explícita y verificable del propietario para actuar en su representación.
                  </li>
                  <li>
                    Usted garantiza que toda la información proporcionada sobre la mascota (edad, salud, comportamiento, etc.) es verídica y actualizada al momento de la publicación.
                  </li>
                  <li>
                    Usted es responsable de cualquier discrepancia o falsedad en la información proporcionada y asume las consecuencias legales que puedan derivarse de ello.
                  </li>
                  <li>
                    Esta plataforma no se hace responsable de la veracidad de la información publicada ni de las acciones que puedan surgir entre las partes involucradas en el proceso de adopción.
                  </li>
                  <li>
                    Usted acepta indemnizar y liberar de toda responsabilidad a la plataforma y sus administradores en caso de cualquier conflicto legal o disputa relacionada con la adopción publicada.
                  </li>
                  <li>
                    La publicación de información falsa o engañosa puede llevar a la eliminación de la publicación y, en casos graves, al bloqueo permanente del usuario.
                  </li>
                </ul>
              </div>
              <p hlmP>Al marcar la casilla, usted acepta y confirma haber leído estos términos, y da su consentimiento para proceder con la publicación.</p>
            </div>
            <hlm-sheet-footer>
              <button hlmBtn type="submit">Crear Anuncio</button>
            </hlm-sheet-footer>
          </hlm-sheet-content>
        </hlm-sheet>
      </form>

      <app-map (locationUpdated)="locationUpdated($event)" [resetMap]="shouldResetMap" class="w-full h-[400px] block">
        <button hlmBtn variant="destructive" class="w-fit absolute z-40 right-0 me-4 mt-4" (click)="resetLocation()">Restablecer Ubicación</button>
      </app-map>
    </div>
  </div>
</div>
