<div class="relative border-4 border-primary rounded-2xl py-2 md:h-fit md:p-3 w-full min-w-[280px] md:w-[380px] flex flex-col md:flex-row items-center justify-between shadow-lg shadow-black/40">
  <div class="size-[130px] md:absolute md:-left-16 md:top-1/2 md:-translate-y-1/2 max-md:mb-2  shadow-md shadow-black/50 rounded-full">
    <div class="size-full relative flex flex-col justify-end items-center">
      <img class="absolute size-full rounded-full z-0" [src]="request.postPhoto" alt="Imagen del perro"/>
      <div *ngIf="mode == 'sent'" [ngClass]="getStatusClass()" class="absolute top-1 right-1 rounded-full size-8 border-4 border-white"></div>

      <span hlmBadge class="z-10">
          <hlm-icon *ngIf="mode == 'sent'" size="sm" name="lucideMapPin" class="me-2"></hlm-icon>
          <hlm-icon *ngIf="mode =='received' " size="sm" name="lucideCalendar" class="me-2"></hlm-icon>
          {{ mode == 'sent' ? request.addressVillage : getFormattedDate() }}
      </span>
    </div>
  </div>

  <!-- Parte izquierda de la tarjeta -->
  <div class="flex flex-col p-2 md:flex-row md:ps-16 max-md:mb-6">
    <div class="flex flex-col justify-center gap-1">
      <h3 hlmH3>{{ request.postName }}</h3>

      <div class="text-gray-500 flex flex-row items-center max-md:justify-center gap-1">
        <p hlmP style="margin: 0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6 inline">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          </svg>
          {{ mode == 'sent' ? request.applierName : request.ownerName }}
        </p>
      </div>
    </div>
  </div>

  <!-- Parte derecha de la tarjeta -->
  <button *ngIf="mode == 'sent'" (click)="redirectToTrackingPage(request.requestCode)" class="cursor-pointer bg-primary rounded-xl text-white size-[80px] flex-col items-center justify-center flex mb-2 sm:mb-0">
    <p hlmP class="text-3xl font-medium">{{ getDaysElapsed() }}</p>
    <p hlmP style="margin: 0">días</p>
  </button>

  <hlm-sheet *ngIf="mode == 'received'">
    <button side="bottom" brnSheetTrigger class="cursor-pointer bg-primary rounded-xl text-white size-[80px] flex-col items-center justify-center flex mb-2 sm:mb-0">
      <hlm-icon *ngIf="mode == 'received'" size="lg" name="lucideEye"></hlm-icon>
    </button>

    <hlm-sheet-content *brnSheetContent='let ctx'>
      <hlm-sheet-header>
        <h3 hlmSheetTitle>Revisar la solicitud <span class="text-gray-400 text-sm font-normal">({{request.requestCode}})</span></h3>
        <p hlmSheetDescription>Aquí podrá revisar y gestionar la solicitud de adopción que ha recibido. Te recomendamos descargar la solicitud antes de tomar una decisión.</p>

        <br>

        <div class="flex gap-4">
          <button variant="outline" (click)="downloadPdf(request.requestCode)" hlmBtn>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 me-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            Descargar Solicitud
          </button>

          <ng-container *ngIf="[2, 4, 5].includes(request.requestStatus)">
            <button variant="outline" (click)="downloadContract(request.requestCode)" hlmBtn>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 me-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
              </svg>
              Descargar Contrato
            </button>
          </ng-container>

          <ng-container *ngIf="request.requestStatus === 2">
            <hlm-dialog>
              <button variant="outline" hlmBtn brnDialogTrigger>
                Firmar Contrato
              </button>

              <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
                <hlm-dialog-header>
                  <h3 hlmDialogTitle>Firmar el Contrato</h3>
                  <p hlmDialogDescription>Te recomendamos leer detenidamente el contrato antes de firmarlo. Una vez firmado, no podrás deshacer esta acción. Pulsa "C" para borrar y empezar de nuevo.</p>
                </hlm-dialog-header>
                <div class="py-4 flex justify-center">
                  <app-signature-pad />
                </div>
                <hlm-dialog-footer>
                  <hlm-alert-dialog>
                    <button (click)="checkSignature()" hlmBtn>Firmar</button>
                    <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
                      <hlm-alert-dialog-header>
                        <h3 hlmAlertDialogTitle>¿Estás seguro de firmar el contrato?</h3>
                        <p hlmAlertDialogDescription>
                          Una vez firmado, no podrás deshacer esta acción. Se enviará una notificación al adoptante para que firme el contrato y poder completar la adopción.
                        </p>
                      </hlm-alert-dialog-header>
                      <hlm-alert-dialog-footer>
                        <button hlmAlertDialogCancel (click)="closeAll()">Cancelar</button>
                        <button hlmAlertDialogAction (click)="signContract(request.requestCode)">Firmar el Contrato</button>
                      </hlm-alert-dialog-footer>
                    </hlm-alert-dialog-content>
                  </hlm-alert-dialog>

                </hlm-dialog-footer>
              </hlm-dialog-content>
            </hlm-dialog>
          </ng-container>

          <ng-container *ngIf="request.requestStatus === 0">
            <button (click)="acceptRequest(request.requestCode)" hlmBtn>Aceptar Solicitud</button>
            <button (click)="rejectRequest(request.requestCode)" variant="destructive" hlmBtn>Rechazar Solicitud</button>
          </ng-container>

          <a [href]="'/chat/' + request.chatRoomCode" hlmBtn *ngIf="[2, 4, 5].includes(request.requestStatus)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 me-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>
            Acceder al Chat
          </a>

        </div>
      </hlm-sheet-header>
    </hlm-sheet-content>
  </hlm-sheet>
</div>
